ToDo
Thoughts
Documentation

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle
Gemfile.lock

pkg

# Rubinius generated
.rbx

# Common spec log file
spec/*log

.DS_Store
*.swp
*.rej
*.orig
*.diff
